body{
   background-color: bisque;
   color: black;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   margin-bottom: 100px;
}

header{
   border-bottom: solid 2px pink;
   padding-left: 20px;
   font-size: 30px;
   color: black;
}

section{
   background-color: darksalmon;
   padding-bottom: 80px;
   display: flex;
}